<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="cssfiles/indexCss.css">
    <script type="text/javascript" src="viewControllers/IndexController.js"></script>
    <script type="text/javascript" src="viewControllers/UserController.js"></script>
</head>
<body>
<p>Welcome to the Appstud test Entrance</p>
<p>
<button id='demo' style="color:blue" onclick=goToHealthCheck() value="Display">Test the connection</button>


<button id='register' style="color:green" onclick=registerUser() value="Display">Register a new user</button>


<button id='register' style="color:orange" onclick=loginUser() value="Display">Log as</button>
</p>
</body>
</html>